* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
}

:root {
  --primary-default: #072ac8;
  --accent: #43d2ff;
  --primary-hover: #a2d6f9;
  --primary-tapped: #d1edff;
  --neutral-dark: #292e47;
  --neutral-medium: #6b708d;
  --neutral-light: #f2f4fc;
  --neutral-lightblue: #ecf7ff;
  --secondary: #ffc600;
  --font-main: "Roboto", sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: var(--neutral-light);
  color: var(--neutral-medium);
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

/* Typos */

h1 {
  font-size: 3.75rem;
  font-weight: bold;
  color: var(--neutral-dark);
  line-height: 1.2;
  margin: 0px 0px 25px;
}
h2 {
  font-size: 3.125rem;
  font-weight: bold;
  color: var(--neutral-dark);
  line-height: 1.2;
}
h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--neutral-dark);
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--neutral-dark);
}

.text-body24 {
  font-size: 24px;
  font-weight: 500;
  color: #292e47;
}

.text-body24 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--neutral-dark);
}

.text-body20 {
  font-size: 1.25rem;
  font-weight: 300;
}

.headline-reg {
  font-size: 1.063rem;
  font-weight: 300;
}

.headline-med {
  font-size: 1.063rem;
  font-weight: 400;
}

.caption1 {
  font-size: 0.938rem;
  font-weight: 300;
}

.caption2 {
  font-size: 0.813rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f2f4fc;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: var(--neutral-medium);
}

/* Menu */

.menucontainer {
  font-weight: 500;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.link {
  display: inline-block;
  padding: 20px;
}
.link:hover {
  color: var(--secondary);
}
.linkactive {
  color: var(--primary-default);
}

.btn1 {
  background-color: var(--primary-default);
  color: var(--neutral-lightblue);
  padding: 0.5rem 1rem;
  border-radius: 999px;
}

.btn1:hover {
  color: #ffc600;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Tablet */
@media (min-width: 769px) {
  .nav-container {
    display: flex;
  }
}

/* Web */
@media (max-width: 1024px) {
  .hero {
    display: flex;
  }

  .hero-img {
    width: 600px;
  }

  .hero-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .card-img {
    display: none;
  }
  .thumb-card {
    display: none;
  }
  .hero-btn {
    max-width: 100%;
    justify-content: start;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-container {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background:#072ac8;
    padding: 20px;
    color: #fff;
    font-size: 1.3rem;
    gap: 1rem;
    z-index: 1000;
  }

  .nav-container.active {
    display: flex;
  }
}

.nav-container.active .link {
  color: var(--neutral-light);
}

.close-menu {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--neutral-lightblue);
}

/* Footer */

.footer {
  margin: 0px 0px 40px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 70px;
}

.footer-brand img {
  margin: 0px;
}

.footer-brand p {
  margin: 30px 0px;
}

.footer-links {
  display: grid;
  font-size: 17px;
  list-style: none;
}

.footer-column {
  display: flex;
  gap: 80px;
  margin: 0px 0px 30px;
}
